*.class
.DS_Store

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/Kantine_PI/nbproject/private/
/src/Kantine_PI/build/
/src/Kantine_Pi/nbproject/private/
/src/Kantine_Pi/build/
/src/Kantine_Pi/dist/
